In [7]:
import numpy as np
import tensorflow as tf
import pandas as pd
import keras.preprocessing.text as kpt
from keras.preprocessing.text import Tokenizer

In [8]:
print("Number of GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Number of GPUs Available:  0

In [12]:
tweets_df = pd.read_csv('data/Tweets.csv')
tweets_df.head(10)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2015-02-24 11:14:33 -0800,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)
7,570300248553349120,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,NaN,2015-02-24 11:12:29 -0800,Los Angeles,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn't…but NOW I DO! :-D",NaN,2015-02-24 11:11:19 -0800,San Diego,Pacific Time (US & Canada)
9,570295459631263746,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",NaN,2015-02-24 10:53:27 -0800,Los Angeles,Eastern Time (US & Canada)

In [15]:
tweets_df[['airline_sentiment_confidence']].describe()

       airline_sentiment_confidence
count                  14640.000000
mean                       0.900169
std                        0.162830
min                        0.335000
25%                        0.692300
50%                        1.000000
75%                        1.000000
max                        1.000000

In [17]:
def sentiment_classifier(rating):
    if rating >= 5:
        return int(2)
    elif rating > 3:
        return int(1)
    if rating <= 3:
        return int(0)

In [22]:
tweets_df['sentiment'] = tweets_df['airline_sentiment_confidence'].apply(sentiment_classifier)

In [23]:
def fix_floats(score):
    return int(score)

In [25]:
tweets_df['text'] = tweets_df['airline_sentiment_confidence'].dropna()
tweets_df['text'].sample(10)

813      0.7320
5192     1.0000
132      1.0000
13227    0.6878
7606     0.6477
7775     1.0000
12552    0.6758
1821     1.0000
5149     0.6768
5277     1.0000
Name: text, dtype: float64

In [29]:
a = tweets_df['airline_sentiment_confidence'].dropna()
b = a.apply(fix_floats)
b

0        1
1        0
2        0
3        1
4        1
        ..
14635    0
14636    1
14637    1
14638    1
14639    0
Name: airline_sentiment_confidence, Length: 14640, dtype: int64

In [37]:
tweets_df['text'] = b.apply(fix_floats)

In [147]:
hotel_df

,Unnamed: 0,reviews.text,reviews,sentiment
0,0,Pleasant 10 min walk along the sea front to th...,4,1.0
1,1,Really lovely hotel. Stayed on the very top fl...,5,2.0
2,2,Ett mycket bra hotell. Det som drog ner betyge...,5,2.0
3,3,We stayed here for four nights in October. The...,5,2.0
4,4,We stayed here for four nights in October. The...,5,2.0
...,...,...,...,...
35907,35907,Best of the Best!!!! My family and I stayed in...,5,2.0
35908,35908,Amazing Vacation in Beautiful Cabin We stayed ...,5,2.0
35909,35909,My husband and I stayed at Tree Tops which is ...,5,2.0
35910,35910,to share your opinion of this businesswith YP ...,0,0.0
35911,35911,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,0,0.0

In [148]:
test_text = hotel_df['reviews.text']
test_review = hotel_df['reviews']

In [149]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(test_text)

In [150]:
test_text = tokenizer.texts_to_sequences(test_text)

In [151]:
test_text = tokenizer.sequences_to_matrix(test_text)
test_text

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])