In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd
import keras.preprocessing.text as kpt
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [2]:
print("Number of GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Number of GPUs Available:  0

In [14]:
hotel_review_df = pd.read_csv('data/hotel_reviews.csv')
hotel_review_df.head(10)

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN
2,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-05-13T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Lugnt l��ge,NaN,Maud,NaN
3,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-10-27T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,Good location on the Lido.,NaN,Julie,NaN
4,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-03-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We stayed here for four nights in October. The...,������ ���������������,NaN,sungchul,NaN
5,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-05T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,We loved staying on the island of Lido! You ne...,Very nice hotel,NaN,A Traveler,NaN
6,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2014-06-10T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Lovely view out onto the lagoon. Excellent vie...,Lovely view out onto the lagoon. Excellent view.,NaN,A Traveler,NaN
7,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-05-14T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,ottimo soggiorno e ottima sistemazione nei gio...,Lovely view out onto the lagoon. Excellent view.,NaN,A Traveler,NaN
8,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-09-14T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,3.0,Gnstiger Ausgangspunkt fr Venedig Besuche. Ruh...,G��nstige Lage,NaN,Doppeldecker,NaN
9,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-05-16T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Lidoen er perfekt til et par dages ro og afsla...,Ro og hygge,NaN,A Traveler,NaN

In [18]:
hotel_review_df[['reviews.rating']].describe()

       reviews.rating
count    35050.000000
mean         3.776431
std          1.416195
min          0.000000
25%          3.000000
50%          4.000000
75%          5.000000
max         10.000000

In [90]:
def sentiment_classifier(rating):
    if rating >= 5:
        return int(2)
    elif rating > 3:
        return int(1)
    if rating <= 3:
        return int(0)

In [91]:
hotel_review_df['sentiment'] = hotel_review_df['reviews.rating'].apply(sentiment_classifier)

In [123]:
def fix_floats(score):
    return int(score)

In [133]:
hotel_review_df['review'] = hotel_review_df['reviews.rating'].dropna()
hotel_review_df['review'].sample(10)

22216    4.0
19027    3.0
825      5.0
30935    4.0
5347     4.0
34927    3.0
25643    1.0
26764    0.0
28069    2.0
1148     3.0
Name: review, dtype: float64

In [127]:
a = review_training_df['reviews.rating'].dropna()
b = a.apply(fix_floats)
b

0        4
1        5
2        5
3        5
4        5
        ..
35907    5
35908    5
35909    5
35910    0
35911    0
Name: reviews.rating, Length: 35050, dtype: int64

In [130]:
hotel_review_df['reviews'] = b.apply(fix_floats)

In [134]:
hotel_rankings = hotel_review_df[['reviews.text', 'reviews', 'sentiment']]
hotel_rankings

                                            reviews.text  reviews  sentiment
0      Pleasant 10 min walk along the sea front to th...      4.0        1.0
1      Really lovely hotel. Stayed on the very top fl...      5.0        2.0
2      Ett mycket bra hotell. Det som drog ner betyge...      5.0        2.0
3      We stayed here for four nights in October. The...      5.0        2.0
4      We stayed here for four nights in October. The...      5.0        2.0
...                                                  ...      ...        ...
35907  Best of the Best!!!! My family and I stayed in...      5.0        2.0
35908  Amazing Vacation in Beautiful Cabin We stayed ...      5.0        2.0
35909  My husband and I stayed at Tree Tops which is ...      5.0        2.0
35910  to share your opinion of this businesswith YP ...      0.0        0.0
35911         xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx      0.0        0.0

[35912 rows x 3 columns]

In [135]:
hotel_rankings.to_csv('hotel_rankings.csv')

In [137]:
hotel_df = pd.read_csv('hotel_rankings.csv')
hotel_df

,Unnamed: 0,reviews.text,reviews,sentiment
0,0,Pleasant 10 min walk along the sea front to th...,4.0,1.0
1,1,Really lovely hotel. Stayed on the very top fl...,5.0,2.0
2,2,Ett mycket bra hotell. Det som drog ner betyge...,5.0,2.0
3,3,We stayed here for four nights in October. The...,5.0,2.0
4,4,We stayed here for four nights in October. The...,5.0,2.0
...,...,...,...,...
35907,35907,Best of the Best!!!! My family and I stayed in...,5.0,2.0
35908,35908,Amazing Vacation in Beautiful Cabin We stayed ...,5.0,2.0
35909,35909,My husband and I stayed at Tree Tops which is ...,5.0,2.0
35910,35910,to share your opinion of this businesswith YP ...,0.0,0.0
35911,35911,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,0.0,0.0

In [140]:
hotel_df = hotel_df.dropna()
hotel_df

,Unnamed: 0,reviews.text,reviews,sentiment
0,0,Pleasant 10 min walk along the sea front to th...,4.0,1.0
1,1,Really lovely hotel. Stayed on the very top fl...,5.0,2.0
2,2,Ett mycket bra hotell. Det som drog ner betyge...,5.0,2.0
3,3,We stayed here for four nights in October. The...,5.0,2.0
4,4,We stayed here for four nights in October. The...,5.0,2.0
...,...,...,...,...
35907,35907,Best of the Best!!!! My family and I stayed in...,5.0,2.0
35908,35908,Amazing Vacation in Beautiful Cabin We stayed ...,5.0,2.0
35909,35909,My husband and I stayed at Tree Tops which is ...,5.0,2.0
35910,35910,to share your opinion of this businesswith YP ...,0.0,0.0
35911,35911,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,0.0,0.0

In [142]:
hotel_df['reviews'].apply(fix_floats)

0        4
1        5
2        5
3        5
4        5
        ..
35907    5
35908    5
35909    5
35910    0
35911    0
Name: reviews, Length: 35028, dtype: int64

In [146]:
hotel_df['sentiment'].dropna()
hotel_df['sentiment'].apply(fix_floats)

0        1
1        2
2        2
3        2
4        2
        ..
35907    2
35908    2
35909    2
35910    0
35911    0
Name: sentiment, Length: 35028, dtype: int64

In [147]:
hotel_df

,Unnamed: 0,reviews.text,reviews,sentiment
0,0,Pleasant 10 min walk along the sea front to th...,4,1.0
1,1,Really lovely hotel. Stayed on the very top fl...,5,2.0
2,2,Ett mycket bra hotell. Det som drog ner betyge...,5,2.0
3,3,We stayed here for four nights in October. The...,5,2.0
4,4,We stayed here for four nights in October. The...,5,2.0
...,...,...,...,...
35907,35907,Best of the Best!!!! My family and I stayed in...,5,2.0
35908,35908,Amazing Vacation in Beautiful Cabin We stayed ...,5,2.0
35909,35909,My husband and I stayed at Tree Tops which is ...,5,2.0
35910,35910,to share your opinion of this businesswith YP ...,0,0.0
35911,35911,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,0,0.0

In [148]:
test_text = hotel_df['reviews.text']
test_review = hotel_df['reviews']

In [149]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(test_text)

In [150]:
test_text = tokenizer.texts_to_sequences(test_text)

In [151]:
test_text = tokenizer.sequences_to_matrix(test_text)
test_text

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])